<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <section class = "wrapper">
      {{#users}}
      <section class="employees">
        <a href="/{{username}}"><img src="{{avatar}}"></a>
        <h3>{{name}}</h3>
        {{#job}}
          <p>{{job}}
          {{company}}</p>
        {{/job}}
        {{^job}}
          <p class="unemployed">Available for Hire</p>
        {{/job}}
      </section>
      {{/users}}
    </section>
  </body>
</html>
